.page-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $grey3;
  background-color: $grey2;

  &__container {
    width: $container-desktop;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
  }

  &__menu-element {
    margin-left: 10px;

    a {
      color: black;
      outline: none;

      &:hover {
        outline: none;
      }
    }
  }
}
