.transfers {
  width: $container-desktop;
  margin: 50px auto;

  &__submit-button {
    margin-top: 20px;
  }
}

.single-transfer-form {
  &__accordion {
    box-shadow: none;
    border-bottom: none;

    &:last-of-type {
      border-bottom: 1px solid $grey1;
    }
  }

  &__accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
