.btn {
  display: inline-block;
  padding: size(1) size(2);
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--confirm {
    background-color: yellowgreen;
    color: white;
  }

  &--error {
    background-color: red;
  }

  &--black {
    border-color: black;
    background-color: white;
  }

  &--square {
    padding: unset;
    border-radius: 0;
    width: 30px;
    height: 30px;
  }
}
